.AppLayout{
    background-color: rgb(35, 210, 170);
    color: #000028;
    overflow-wrap: anywhere;

    display: grid;
    grid-template-rows: 56px minmax(calc(100vh - 56px), auto);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "header header header"
    ". main .";
}

@media only screen and (max-width: 600px) {
    .AppLayout {
        grid-template-areas: "header header header"
        "main main main";
    }
}