.Details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Details__back{
    color: #000028;
    text-decoration: unset;
    margin: 10px 0;
}
